
img {
	display: block;
	height: inherit;
}

a {
	text-decoration: none;
	padding-right: 2%;
	color: black;
}

body {
	margin: 0;
	font-family: arial;
	font-size: 20pt;

	min-width: 1000px;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	vertical-align: middle;
}

td.background {
	height: 30%;
	width: 30%;
}

div {
	float: left;
}

/*TOP*/


#scrollbar {
	width: 100%;
	min-width: 1000px;
	position: fixed;
	transition: top 0.3s;
	background: silver;
	z-index: 4;
}

.headingTable {
	margin-left: 2%;
	vertical-align: middle;
	width: 96%;
}

.logo {
	height: 20px;
	width: 20px;
}

.logoCell {
	width: 2%;
}

/* BODY */


.textOverGoldImage {
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	font-family: arial; 
	color: white;
	font-size: 45pt;
}


.textOverCell {
	position: absolute;
	left: 50%;
	margin-left: 15%
	margin-right: 15%;
	transform: translate(-50%, -50%);
	font-family: arial; 
	color: black;
	font-size: 20pt; 
}

.subpageParagraphs {
	margin-left: 10%;
	margin-right: 10%;
}

.photoRight {
	height: 10%;
	width: 15%;
	float: right;
	margin-right: 10.5%;
	margin-left: 1%;
}

.photoLeft {
	height: 10%;
	width: 15%;
	float: left;
	margin-right: 1%;
	margin-left: 10%;
}


img.vacationPhoto {
	margin-left: 10%;
	float: left;
	height: 18%;
	width: 15%;
}

img.websitePhoto {
	margin-left: 10%;
	float: left;
	height: 19%;
	width: 55%;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    padding-left: 10px;
    padding-right: 10px;
}


/*BOTTOM*/

#bottomNavigation {
	background-color: silver;
	vertical-align: middle;
}

.bottomNavigationLink {
	font-size: 12pt;
}


.bottomNavigationItems {
	margin-left: 13%;
	width:75%;
}








