img {
	display: block;
	height: inherit;
}

a {
	text-decoration: none;
	padding-right: 3%;

}

body {
	margin: 0;
	font-family: times new roman;
	font-size: 18pt;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	vertical-align: middle;
}

#scrollbar {
	width: 100%;
	position: fixed;
	transition: top 0.3s;
	z-index: 4;
}

.logo {
	height: 20px;
	width: 20px;
	margin-left: 1%;
}

.textOverGoldImage {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: times new roman; 
	color: white;
	font-size: 55pt; 
}
